<app-navbar></app-navbar>
<div class="container mt-5 mb-2">
    <div class="row">
        <div class="col">
            <h1 href="/Home" style="text-align:center; font-weight: Bolder; ">Inicio</h1>
        </div>
        <!-- <div class="col align-self-center">
            <img src="assets/bolsas kraft.jpg" class="imagenInicial">
        </div> -->
    </div>

    <div class="row">
        <!-- <nav>
            <br>
            <div class="col align-self-start" style="text-align:center;">
                <h1 style="text-align:center; font-weight: Bolder; font-size: 10vh;">Productos</h1><br>
            </div>
            <br>

            <div class="col align-self-center">
                <carousel cellsToShow="1">
                    <div class="carousel-cell">
                        <img src="assets/bolsaEjemplo1.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/bolsasEjemplo.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/bolsasEjemplo2.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/BolsasEjemplo3.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/BolsaEjemplo4.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/bolsaEjemplo1.jpg">
                    </div>
                </carousel>

            </div>
        </nav> -->
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-flex " src="assets/bolsaEjemplo1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-flex " src="assets/bolsasEjemplo.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-flex " src="assets/bolsasEjemplo2.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-flex " src="assets/BolsasEjemplo3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-flex " src="assets/BolsaEjemplo4.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center; font-weight: Bolder;">Lista de Precios</h1>
        </div>
        <div class="col-12">
            <h2 style="font-family: 'Courier New', Courier, monospace; position: sticky; text-align:center;">Bolsas papel Kraft Lisas, Gramaje 125g.</h2>
        </div>

        <div class="col-12 over">
            <table class="table tablas">
                <thead>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Nombre</th>
                    <th>Medida (Cm)</th>
                    <th colspan="2">Precio Según Cantidad</th>
                    <tr>
                        <th>Alto-Ancho-Fuelle</th>
                        <th>1000 y 500 UD</th>
                        <th>100 Y 50 UD</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>01</td>
                        <td>mini</td>
                        <td>15x11x5</td>
                        <td>$100 c/u</td>
                        <td>$230 c/u</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Chica</td>
                        <td>17x14x6</td>
                        <td>$140 c/u</td>
                        <td>$270 c/u</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Botella Corta</td>
                        <td>29x17x10</td>
                        <td>$220 c/u</td>
                        <td>$350 c/u</td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Mediana</td>
                        <td>26x21x11</td>
                        <td>$230 c/u</td>
                        <td>$350 c/u</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Botella Larga</td>
                        <td>39x13x6</td>
                        <td>$220 c/u</td>
                        <td>$350 c/u</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Horizontal</td>
                        <td>30x43x11</td>
                        <td>$270 c/u</td>
                        <td>$550 c/u</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Grande</td>
                        <td>44x28x11</td>
                        <td>$270 c/u</td>
                        <td>$550 c/u</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Grande blanca</td>
                        <td>44x32x11</td>
                        <td>$350 c/u</td>
                        <td>$650 c/u</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Bolsa delivery</td>
                        <td>26x26x15</td>
                        <td>$140 c/u</td>
                        <td>$370 c/u</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>mediana Blanca</td>
                        <td>26x21x11</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>botella corta blanca</td>
                        <td>29x17x10</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Horizontal blanca</td>
                        <td>30x43x11</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 style="text-align:center; font-weight: Bolder;">Rosas de papel country y rafia.</h2>
        </div>
        <div class="col-12 over">
            <table class="table tablas">
                <thead>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th> Precio</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rosas Decorativas Grandes</td>
                        <td>50 unidades</td>
                        <td>$10.000</td>
                    </tr>
                    <tr>
                        <td>Rosa decorativa chica</td>
                        <td>50 unidades</td>
                        <td>$5.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 text-center">
            <small style="font-family: 'Courier New', Courier, monospace; position: sticky;">*Precios más IVA</small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 style="text-align:center; font-weight: Bolder;">Contáctanos</h2>
            <nav><br>
                <div class="col">
                    <div class="container">
                        <form [formGroup]="miFormulario" (submit)="saveData()">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">Nombre: <input [class.is-invalid]="miFormulario.get('Nombre').touched && miFormulario.get('Nombre').invalid" type="text" class="form-control" formControlName="Nombre" placeholder="Ignacio">
                                    <small *ngIf="this.miFormulario.controls.Nombre.status !== 'VALID' && this.miFormulario.controls.Nombre.touched">Ingrese un Nombre</small>
                                    <br></div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">Apellido: <input [class.is-invalid]="miFormulario.get('Apellido').touched && miFormulario.get('Apellido').invalid" type="text" class="form-control" formControlName="Apellido" placeholder="Barrera">
                                    <small *ngIf="this.miFormulario.controls.Apellido.status !== 'VALID' && this.miFormulario.controls.Apellido.touched">Ingrese un Apellido</small>
                                    <br></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">Teléfono: <input maxlength="11" minlength="9" pattern="[0-9]+" [class.is-invalid]="miFormulario.get('Telefono').touched && miFormulario.get('Telefono').invalid" type="text" class="form-control" formControlName="Telefono"
                                        placeholder="9 1234 5678">
                                    <small *ngIf="this.miFormulario.controls.Telefono.status !== 'VALID' && this.miFormulario.controls.Telefono.touched">Ingrese un número telefónico</small>
                                    <br> </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">Correo Electronico: <input [class.is-invalid]="miFormulario.get('Email').touched && miFormulario.get('Email').invalid" type="email" class="form-control" formControlName="Email" placeholder="Ignacio.Barrera90@Email.com">
                                    <small *ngIf="this.miFormulario.controls.Email.status !== 'VALID' && this.miFormulario.controls.Email.touched">Ingrese un Correo Valido</small>
                                    <br> </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    Comentario,duda o consulta:<textarea maxlength="300" type="text" class="form-control" formControlName="Coment" placeholder="Escriba aquí dudas, consultas, comentarios, etc."></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col align-self-center" style="margin-top: 15px;">
                                    <button class="btn btn-outline-success" type="submit">Enviar</button>
                                </div>
                                <div class="col">

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<app-footer></app-footer>
